<div id="projects" class="container">
  <div class="skills-title">Projects</div>
  <hr>
  <% data.projects.each do |project| %>
    <div class="project-card">
      <img src="<%= project.image%>">
      <div proj-info>
        <h3><%=project.name%></h3>
        <p><%= project.description %></p>
        <div class="stack">
          <% project.stack.each do |skill, img| %>
            <div class="stack-cell">
              <img src="<%=img%>" alt="">
            </div>
          <% end %>
        </div>
        <div class="proj-link">
          <a href="<%= project.url%>">View</a>
          <a href="<%= project.github%>">Github</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
