<div id="projects" class="container">
  <div class="skills-title">Projects</div>
  <hr>
  <% data.projects.each do |project| %>
    <div class="project-card fade-in-section">
      <img src="<%= project.image%>">
      <div proj-info>
        <h3 class="project-name"><%=project.name%></h3>
        <p class="project-desc"><%= project.description %></p>
        <div class="stack">
          <% project.stack.each do |skill, img| %>
            <div class="skill-div">
              <img class="skill-img-stack" src="<%=img%>" alt="#">
              <p class="skill-name-stack"><%= skill %></p>
            </div>
          <% end %>
        </div>
        <div class="proj-links my-5">
          <a class="proj-link" href="<%= project.url%>">View</a>
          <a class="proj-link" href="<%= project.github%>">Github</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
