<div class="row my-5">
  <div class="col-12">
    <div id="projects" class="container my-5">
      <% data.projects.each do |project| %>
        <div class="proj-wrapper d-flex my-5 section">
          <div class="col-6 proj-info">
            <h3 class="fade-in-section"><%= project.name %></h3>
            <hr class="fade-in-section">
            <p class="my-3 fade-in-section"><%= project.description %></p>
            <h4>Role: <%= project.role %></h4>
            <div class="role-desc my-3 fade-in-section">
              <%= project.role_desc %>
            </div>
            <h4 class="fade-in-section">Tech Stack</h4>
            <div class="tech-stack my-3">
              <% project["stack"].each_pair do |skill_name, img_url| %>
                <div class="skill-div d-flex fade-in-section">
                  <img src="<%= img_url %>" class="skill-img" alt="#">
                  <p class="skill-name"><%= skill_name %></p>
                </div>
              <% end %>
            </div>
            <div class="proj-links">
              <a href="#" class="btn fade-in-section">View Project</a>
              <a href="#" class="btn fade-in-section">Github</a>
            </div>
          </div>
          <div class="col-6 fade-in-section">
            <video preload="auto" autoplay muted loop class="w-100 proj-media" src="/images/projects/AnimePandaSwiping.mp4" alt="A video showing a demo of a anime mobile application"></video>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
